
<input type="submit" id="conditionButton" class="btn btn-primary btn-lg" value="Подобрать кондиционер">

<dialog id="dialogAboutCondition">
  <div id="forConditionhbs"> тут что то будет</div>
  <button id="closeDialogAboutCondition">Закрыть окно</button>
</dialog>

