<input type="submit" id="conditionButton" class="btn btn-primary" value="Подобрать кондиционер">

<dialog id="dialogAboutCondition">

  <div id="forConditionhbs"></div>
  <button id="closeDialogAboutCondition" class="btn btn-primary btn-sm">X</button>
  <div id="condProgress" class="progress">
    <div id="condProgressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0.01%;"></div>
  </div>
  <span id="condDiscountBadge" class="badge badge-warning">Ваша скидка: 0%</span>
</dialog>
