<input type="submit" id="conditionButton" class="btn btn-primary btn-lg" value="Подобрать кондиционер">

<dialog id="dialogAboutCondition">

  <div id="forConditionhbs"></div>
  <button id="closeDialogAboutCondition" class="btn btn-primary btn-sm">X</button>
</dialog>
