<input type="submit" id="ventilationButton" value="Подобрать вентиляцию">

<dialog id="dialogAboutVentilation">
  <div> тут что то будет</div>
  <button id="closeDialogAboutVentilation">Закрыть окно</button>
</dialog>
