<input type="submit" id="ventilationButton" class="btn btn-primary btn-lg" value="Подобрать вентиляцию">

<dialog id="dialogAboutVentilation">
  <div> тут будет что-то о вентиляции</div>
  <button id="closeDialogAboutVentilation">X</button>
</dialog>