<input type="submit" id="ventilationButton" class="btn btn-primary btn-lg" value="Подобрать вентиляцию">

<dialog id="dialogAboutVentilation">

  <div id="forVentilationhbs"></div>
  <button id="closeDialogAboutVentilation">X</button>
  <div id="progress" class="progress">
    <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Discount</div>
  </div>
  <span id="discountBadge" class="badge badge-warning">Your discount is 10%</span>
</dialog>
