<input type="submit" id="ventilationButton" class="btn btn-primary btn-lg" value="Подобрать вентиляцию">

<dialog id="dialogAboutVentilation">
  <div id="forVentilationhbs"> тут что то будет</div>
  <button id="closeDialogAboutVentilation">Закрыть окно</button>
</dialog>
