body{
  margin: 0;
  background-image: url(/img/background.png);
  background-size: 100%;
}

#conditionButton, #ventilationButton {
  position: fixed;
  margin-left: 5%;
  bottom: 10%;
  background-color: #3B72B4;
}
#dialogAboutCondition,
#dialogAboutVentilation {
  width: 70%;
  height: 60%;
  margin: 10% 15% 15% 15%;
  border: 1px solid #3b72b4;
  border-radius: 6px;
  background-color: aliceblue;
  display: none;
  position: fixed;
  z-index: 1000;
}

#closeDialogAboutCondition,
#closeDialogAboutVentilation {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(228, 100, 6);
  border-radius: 5px;
  background-color: rgb(228, 100, 6);
}

#progressBar, #condProgressBar {
  background-color: #3B72B4;
  /* position: fixed; */
}

#progress,
#condProgress {
  align-self: flex-end;
  margin-left: 8%;
  width: 50%;
  background-color: aliceblue;
  border: 1px solid #3b72b4;
  position: fixed;
  /* overflow: hidden; */
  /* float: left; */
}

#ventDiscountBadge, #condDiscountBadge {
  align-self: flex-end;
  height: 29px;
  width: auto;
  border: 1px solid #3b72b4;
  position: fixed;
  margin-left: 20%;
  margin-top: -2%;
  margin-right: 2%;
  font-size: medium;
  text-align: center;
}

.answers {
  white-space: nowrap;
  /* border: 1px solid #3B72B4;
  border-radius: 5px; */
  margin-top: 7px;
  margin-right: 7px;
  padding-left: 30px;
  list-style-type: none;
  
}

.question {
  white-space: nowrap;
}

.checkBox {
  margin: 0px 10px;
  background-color: #3B72B4
}

#submitToCondition, #lastBtnVent, #lastBtnCond, #close {
  background-color: #3B72B4;
  border-radius: 33px;
  /* position: relative;
  margin-left: 60%;
  margin-top:17%;
  margin-right: 2%; */
}
#lastBtnVent,
#lastBtnCond,
#close {
  margin-top: 7px;
}

#mailInput, #secondMailInput, #phoneInput, #secondPhoneInput {
  margin-bottom: 4px;
  margin-left: 2px;
  border: 1px solid #3B72B4;
}

#questions {
  height: 44%;
}

#farewellWindow {
  display: flex;
  margin-top: 10%;
  margin-left: 70%;

  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

#close {
  margin-left: 78%;
}



