
#conditionButton, #ventilationButton {
  position: fixed;
  margin-left: 50px;
  bottom: 100px;
  background-color: #3B72B4;
}
#dialogAboutCondition,#dialogAboutVentilation {
  width: 70%;
  height: 60%;
  margin: 10% 15% 15% 15%;
  border: 1px solid #3B72B4;;
  border-radius: 6px;
  background-color: aliceblue;
  display: none;
}

#closeDialogAboutCondition, #closeDialogAboutVentilation {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid crimson;
  border-radius: 5px;
  background-color: crimson;
}

#progressBar {
  background-color: #3B72B4;
}

#progress {
  align-self: flex-end;
  width: 90%;
  background-color: aliceblue;
  border: 1px solid #3B72B4;
  /* overflow: hidden; */
  /* float: left; */

}

#discountBadge {
  height: 20px;
  width: auto;
  border: 1px solid #3B72B4;
  margin-top:1%;
  margin-right: 2%;
}

@media screen and (max-width: 800px) {
  #progress {
    align-self: flex-end;
    width: 90%;
  }
}

