<div class="final-page horixontal">
  <div class="final-page content-container">
    <p class="title final-page__motivation">
      Отлично! Последний шаг!
    </p>
    <div class="">
      Заполните форму, чтобы получить результаты теста
    </div>
    <div>
      <b>
        Ваши бонусы
      </b>
      <div>
        <div
          style="background-image: url('https://res.cloudinary.com/hgwipn3sa/image/upload/w_250,dpr_1.0,f_auto/actonyissgboxga6myfk.png');">
        </div>
      </div>

    </div>
    <div class="final-page form">
      Ваша скидка: 10 %
    </div>
    <form action="">
      <div>
        Введите вашу электронную почту(по желанию) 
      </div>
      <div>
        <input placeholder="mail@example.com" type="text" autocomplete="on" pattern="[A-Za-zа-яА-ЯёЁ0-9._%+-]{1,}@[a-zA-Zа-яА-ЯёЁ0-9._-]{1,}([.]{1}[a-zA-Zа-яА-ЯёЁ0-9._]{2,}|[.]{1}[a-zA-Zа-яА-ЯёЁ0-9]{2,}[.]{1}[a-zA-Zа-яА-ЯёЁ0-9]{2,})">
      </div>
      <button type="submit">
        <span>
          Забрать расчет и бонус!
        </span>
      </button>
    </form>
  </div>


</div>
