<div class="final-page horixontal">
  <div class="final-page content-container">
    <p class="title final-page__motivation">
      Отлично! Последний шаг!
    </p>
    <div class="">
      Оставьте свой номер телефона или мессенджер, чтобы получить результаты 👍
    </div>
    <div>
      <p>
        Подберем Вам наилучший кондиционер по Вашим критериям!
      </p>
    </div>
    <div>
      <b>
        Ваши бонусы
      </b>
      <div>
        <div
          style="background-image: url('https://res.cloudinary.com/hgwipn3sa/image/upload/w_250,dpr_1.0,f_auto/actonyissgboxga6myfk.png');">
        </div>
      </div>

    </div>
    <div class="final-page form">
      Ваша скидка: 10 %
    </div>
    <form action="">
      <div>
        Введите телефон
      </div>
      <div>
        <input placeholder="+7 (900) 000-00-00" type="tel" required="required" icon="phone">
      </div>
      <button type="submit">
        <span>
          Забрать расчет и бонус!
        </span>
      </button>
    </form>
  </div>


</div>
