<p>Отлично! Последний шаг!</p>
<p>Оставьте свой номер телефона и адрес электронной почты, чтобы получить результаты 👍</p>
<p>Мы подберем Вам наилучшую вентиляционную систему по Вашим критериям!</p>

<form>
  <span>Введите телефон: </span>
  <input placeholder="+7 (900) 000-00-00" type="tel" required="required"
    pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"><br>
  <span>Введите email:</span><br>
  <input placeholder="mail@example.com" type="text" autocomplete="on"
    pattern="[A-Za-zа-яА-ЯёЁ0-9._%+-]{1,}@[a-zA-Zа-яА-ЯёЁ0-9._-]{1,}([.]{1}[a-zA-Zа-яА-ЯёЁ0-9._]{2,}|[.]{1}[a-zA-Zа-яА-ЯёЁ0-9]{2,}[.]{1}[a-zA-Zа-яА-ЯёЁ0-9]{2,})"><br>
  <input type="submit" value="Забрать бонус">
</form>
