<div id="main">
  <p>{{question}}</p>
  <div id="qestions">
    <form id="quizConditionForm">
      <ul id="answers">
        {{#each arrAnswers}}
        <li><input type="checkbox" name={{this}} value={{this}}>{{this}}</li>
        {{/each}}
      </ul>
      <input id="submitToCondition" type="submit">
    </form>
  </div>
</div>
