<div id="main">
  <p>{{question}}</p>
  <div id="qestions">
    <form>
      <ul>
        {{#each arrAnswers}}
        <li><input type="checkbox" name={{this}}>{{this}}</li>
        {{/each}}
      </ul>
      <input type="submit">
    </form>
  </div>
</div>
