<div id="main">
  <p>{{question}}</p>
  <form id="quizConditionForm">
    <input id="ex1" data-slider-id="ex1Slider" type="text" data-slider-min={{min}} data-slider-max={{max}}
      data-slider-step="1" data-slider-value="14" />
  </form>
</div>
