<div id="main">
  <p class="question">{{question}}</p>
  <div id="questions">
    <form id="quizConditionForm">
      <ul id="answers">
        {{#each arrAnswers}}
        <li class="answers"><input type="radio" name="chooseOne" value="{{this}}" class="checkBox"> {{this}}</li>
        {{/each}}
      </ul>
    </form>
    {{!-- <input id="backToReality" type="submit" value="Назад"> --}}
  </div>
  <input id="submitToCondition" type="submit" value="Отправить" class="btn btn-primary btn-sm">
</div>
