<div id="farewellWindow">
  <p>Спасибо за потраченное время</p>
  <p>В ближайшее время с Вами свяжется менеджер для уточнения заказа</p>
  <p>Скидка 10% будет учтена при оплате</p>
</div>
<button id="close" class="btn btn-primary btn-bg"> Закрыть</button>