<p>Спасибо за потраченное время</p>
<p>В ближайшее время с Вами свяжется менеджер для уточнения заказа</p>
<p>Скидка 10% будет учтена при оплате</p>

<button id="close" class="btn btn-primary btn-sm"> Закрыть</button>